
<div>
    <h2>Usuarios</h2>

    <div *ngIf="usuarios.length > 0">
        @for(usuario of usuarios; track usuario.id) {
        <div>
            <h2>Nombre: {{ usuario.name | titlecase }}</h2>
            <hr />
            <span>Email: {{ usuario.email }}</span>
            <hr />
            <br />

            <button class="btn btn-info" [routerLink]="['/usuarios', usuario.id]">Ver Detalles</button>
        </div>
        
        }
    </div>
    <div *ngIf="usuarios.length === 0">
        <p>No hay usuarios disponibles.</p>
    </div>
</div>